h1 {
  text-align: center;
}
.search-results {
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (width<1024px) {
  .search-results {
    flex-direction: column;
    align-items: center;
  }
}
