.shelve-books-container {
  display: flex;
  justify-content: space-evenly;
}
.heading {
  text-align: center;
}

.book-cover {
  width: 12rem;
}
.book-name {
  margin: 10px 0;
  height: 2rem;
}
@media screen and (width<1024px) {
  .shelve-books-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
